
select.team-select {
    padding: 5px 16px;
    text-align: center;
    border: 1px solid #000;
    color: #000;
    border-radius: 3px;
    margin-right: 4px;
    background: transparent;
}

.project-list-item-message {
    margin-top: -5px !important;
    display: block;
    margin-bottom: 8px !important;
    margin-left: 11px;
}

.floors-tabbs i {
    padding-left: 12px;
    font-weight: 500;
    font-size: 20px;
}

.floor-one-box i:not(.room-form-icon) {
    padding-left: 12px;
    font-weight: 500;
    font-size: 20px;
}

.main-room-overview i {
    margin-top: 10px;
    padding-left: 12px;
    font-weight: 500;
    font-size: 20px;
}
.fancy-radio {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}
/* Hide the browser's default checkbox */
.fancy-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

/* On mouse-over, add a grey background color */
.fancy-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .fancy-radio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .fancy-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
.fancy-radio .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


.floor-card:first-child{
    margin-top: 5px;
}
.floor-card{
    padding: 0 0 0 1.5rem !important;
}
.tap-card{
    padding: 0 0 0 2.7rem !important;
}

.tap-static-card{
    padding: 0 0 0 3.9rem !important;
}
select.status-select {
    padding: 5px 16px;
    text-align: center;
    /* color: #000; */
    border-radius: 3px;
    margin-right: 4px;
    background: transparent;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
hr {
    border-top: 2px solid rgba(0,0,0,.1);
}
.form-control {
    background-color: #f8f8fa;
    padding: .375rem .75rem 10px;
}
textarea.form-control {
    width: 100%;
    /* max-width: 82.9%; */
}



.top-bar .top-bar-social-links ul li a i {
    color: #62b13a;
    border: 1px solid #62b13a;
    width: 35px;
    height: 35px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.top-bar .top-bar-social-links ul li a i:hover {
   background-color: #62b13a;
   color: #fff;
}

.top-bar-social-links ul li:last-child a i {
    border: none;
    color: #ccccccb0;
}
.top-bar-social-links ul li:last-child a i:hover {
	background-color: transparent;
	color: #ccccccb0;
}
/*header tabs*/


header.tab-header {
    background-color: #63b32e;
}

.tab-header .navbar .navbar-collapse  a.nav-link {
    color: #647b83 !important;
    font-size: 17px;
    transition: all 0.3s ease;
}

.tab-header .navbar .navbar-collapse a.nav-link:hover {
	color: #fff !important;
}

.tab-header .navbar .navbar-collapse form input,
.tab-header .navbar .navbar-collapse form button.btn  {
    background: transparent;
    border: none;
    color: #647b83 !important;
}

/*test-project section*/
.test-proj-tittel {
    padding-left: 20px;
}

button.tap-btn {
    color: #fff !important;
    background: #63b32e;
    width: 108px;
    height: 35px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #63b32e;
    transition: all 0.3s ease;
    cursor: pointer;
}

a.main-btn {
    color: #fff !important;
    background: #63b32e;
    width: 108px;
    height: 35px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #63b32e;
    transition: all 0.3s ease;
}
a.main-btn:hover {
	color: #63b32e !important;
	background: transparent;
}
a.main-btn.cancel {
    background-color: #d21416;
    border: 1px solid #d21416;
}
a.main-btn.cancel:hover {
	color: #d21416;
	background: transparent;
}


.test-project .form-control {
    background-color: #f8f8fa;
}

.test-project .test-proj-tittel p {
    color: #9e9da3;
}
.test-project  textarea.form-control {
    min-height: 120px;
}

/*floors tabbs*/
.floors-tabbs .accordion .card-header span {
    font-family: 'FontAwesome';  
    /* content: "\f013"; */
    float: right; 
}
/* .floors-tabbs .accordion .card-header.collapsed:after {
   
    content: "\f013";
} */

.card-header {
    background-color: #eaeaf2;
    border-bottom: none;
    border-radius: 8px !important;
    padding: 8px 12px;
}

/*start setting tab */

.main-table .table thead tr th {
    font-weight: 600 !important;
}
.main-table .table tbody tr td .form-control {
    padding: 7px 5px;
    font-size: 15px;
    width: auto;
}

.form-setting-option table {
    width: 1000px;
    margin-left: auto;
}
.form-setting-option h4 {
    margin-left: 108px;
}
.form-setting-option .table td, .table th, .table td {
    border-bottom: 1px solid #dee2e6 !important;
    border-top: none;
    padding: 20px 29px;
    font-weight: normal !important;
    text-align: center;
}
.form-setting-option .table td a {
    background: #eaeaf2;
    width: 135px;
    color: #000000b8;
    padding: 5px 0px;
    display: inline-block;
    border-radius: 3px;
}

.table-custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.table-custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #eaeaf2;
}

/* On mouse-over, add a grey background color */
.table-custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.table-custom-checkbox input:checked ~ .checkmark {
    background-color: #eaeaf2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.table-custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.table-custom-checkbox .checkmark:after {
  left: 9px;
  top: 2px;
  width: 10px;
  height: 18px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*add-floor-tabs*/

.add-floor-tabs .add-floor-number {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.add-floor-tabs .add-floor-btns {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.add-floor-tabs {
    width: 1000px;
    margin: auto;
}
.floor-setting-btn {
    top: 30px;
    position: relative;
}
/*Floor Overview section*/

.floor-overviwe .accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f078"; /* fa-chevron-down */
    position: absolute;
    top: 12px;
    right: 10px; 
}
.floor-overviwe .accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f077"; /* fa-chevron-up */
}
.floor-overviwe .main-floor-overview .overview-floor-list {
    width: 60%;
}
.floor-overviwe .main-floor-overview .floor-overviwe-btn {
    width: 40%;
    justify-content: flex-end;
    margin-right: 25px;
}
a.overview-flor-btn {
    padding: 5px 16px;
    text-align: center;
    border: 1px solid #000;
    color: #000;
    border-radius: 3px;
    margin-right: 4px;
}

.floor-overviwe .main-floor-overview .ausstehend-btn a.overview-flor-btn {
    background: #d3def0;
    border: 1px solid #0b7bdd !important;
}

.floor-overviwe .floor-overviwe-btn a.overview-flor-btn span i {
    font-weight: normal;
    font-size: 15px;
}
.floor-overviwe .main-floor-overview .card-header {
	position: relative;
}
 /*rooms*/

.rooms-form-area .add-rooms-btns {
	display: flex;
    justify-content: flex-end;
} 

.rooms-form-area .add-room-details .form-group {
    width: 50%;
    margin-right: 20px;
}
.rooms-form-area .add-room-details .add-floor-number {
   width: 50%;
}

.rooms-form-area {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.floor-overviwe .rooms-form-area .form-control {
	background-color: #eaeaf2;
}

/*start room-option*/

.floor-overviwe .accordion-room-option .main-room-detected {
   display: flex;
}
.floor-overviwe .accordion-room-option .main-room-detected .room-detected-tab,
.floor-overviwe .accordion-room-option .main-room-detected .room-detected-check {
    width: 50%;
}
.floor-overviwe .accordion-room-option .main-room-detected .room-detected-check .room-detected-main-check {
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
}
.floor-overviwe .accordion-room-option .main-room-detected .room-detected-check .checkmark {
    background-color: #61b42e;
    border-radius: 3px;
}
.floor-overviwe .accordion-room-option .main-room-detected .room-detected-check .checkmark.close-check {
	background-color: #c32728;
}

.floor-overviwe .accordion-room-option .main-room-detected .room-detected-check .checkmark.close-check:after {
	content: "";
    background-image: url(../images/close.png) !important;
    width: 15px;
    height: 17px;
    position: absolute;
    border: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: none;
    top: 7px;
}

/*start Toilette tab*/
#inner-room-two .main-table table.table tr th a, #inner-room-two .main-table table.table tr td a {
    background-color: #ebecf1;
    color: #000;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #000;
    border-radius: 5px;
}

/* start teams page*/


.add-new-team input.form-control {
    width: 310px;
    background-color: #f8f8fa;
}

.team-form-btn form {
    position: relative;
}
.team-form-btn form input {
background-color: #f8f8fa;
}

.team-form-btn form button {
    position: absolute;
    right: 7px;
    background: none;
}
.main-team-area .team-name-box .main-table {
    height: 400px;
    overflow: auto;
}
/* width */
.main-team-area .team-name-box .main-table::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.main-team-area .team-name-box .main-table::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.main-team-area .team-name-box .main-table::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.main-team-area .team-name-box .main-table::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.team-name-box .main-table table.table tr td a, .team-name-box .main-table table.table tr th a {
    background-color: #ebecf1;
    color: #000;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: 1px solid #000;
    border-radius: 5px;
}
.main-team-area {
    width: 840px;
    margin: auto;
}

/*User page css*/

.team-name-box .table tr td span, .span-bg {
    background: #eaeaf2;
    width: 135px;
    color: #000000b8;
    padding: 5px 0px;
    display: inline-block;
    border-radius: 3px;
}


/*start responsive*/
@media (max-width: 767px) {
    .floor-setting-btn {
        top: 0;
    }
    .team-form-btn form button {
        top: -7px;
    }

	.form-setting-option h4 {
     margin-left: 0px; 
  }
	.add-floor-tabs {
    width: 100%;
    margin-left: auto;
  }
  .add-floor-tabs .add-floor-main {
    flex-direction: column;
  }
  .add-floor-tabs .add-floor-number {
    width: 100%;
 }
 .add-floor-tabs .add-floor-number .form-group {
    margin-right: 5px;
}

 .add-floor-tabs .add-floor-btns {
    width: 100%;
    justify-content: center;
    margin: 15px 0px;
  }

  .floor-overviwe .main-floor-overview .floor-overviwe-btn {
  	flex-wrap: wrap;
    justify-content: center;
  }
  .floor-overviwe .main-floor-overview a.overview-flor-btn {
  	margin-bottom: 5px;
  	display: inline-block;
  }
.floor-overviwe .rooms-form-area .add-room-details {
	flex-wrap: wrap;
}
.rooms-form-area .add-room-details .form-group {
    width: 100%;
  } 
  .rooms-form-area .add-room-details .add-floor-number {
    width: 100%;
}
.floor-overviwe .rooms-form-area {
 	width: 100%;
 }
.floor-overviwe .room-quantity-area .room-quantity .form-group {
   margin-right: 5px;
}

.floor-overviwe .accordion-room-option .main-room-detected .room-detected-tab {
    width: 30%;
}
.floor-overviwe .accordion-room-option .main-room-detected .room-detected-check {
	width: 70%;
}
.floor-overviwe .accordion-room-option .main-room-detected .room-detected-check .room-detected-main-check {
    width: 68%;
    right: -33px;
 }
 .main-team-area {
    width: 100%;
  }
 .add-new-user .add-user-form {
    flex-wrap: wrap;
  }
.floor-one-box .floor-overviwe-btn {
    flex-wrap: wrap;
 }
 .floor-one-box .floor-overviwe-btn .team-btn {
    margin-bottom: 5px;
 }
 .rooms-form-area .add-room-details {
    flex-wrap: wrap;
}
 .room-quantity-area .room-quantity .form-group {
    margin-right: 8px;
}

}
.mt-4-9 {
    margin-top: 0;
}

@media (min-width: 767px) {
.mt-4-9 {
    margin-top: 1.98rem;
}
}

@media (min-width: 767px) and  (max-width: 1024px) {
    
	.form-setting-option h4 {
     margin-left: 0px; 
   }
      .add-floor-tabs {
    width: 100%;
    }
    .add-floor-tabs .add-floor-number .form-group {
    margin-right: 5px;
  }
  .floor-overviwe .rooms-form-area {
 	width: 100%;
  }
  .floor-overviwe .room-quantity-area .room-quantity .form-group {
   margin-right: 5px;
  }
  .floor-overviwe .main-floor-overview .floor-overviwe-btn {
  	flex-wrap: wrap;
  	justify-content: center;
  }
   .floor-overviwe .main-floor-overview a.overview-flor-btn {
  	margin-bottom: 5px;
  	display: inline-block;
  }
  .main-team-area {
    width: 100%;
  }
}

/* @media (min-width: 1024px) and  (max-width: 1366px) {
    textarea.form-control {
      max-width: 83%;
   }
} */

button.main-btn {
    color: #fff;
    background: #63b32e;
    width: 115px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #63b32e;
    transition: all 0.3s ease;
}
button.main-btn:hover {
	color: #63b32e;
	background: transparent;
}
button.main-btn.cancel {
    background-color: #d21416;
    border: 1px solid #d21416;
}
button.main-btn.cancel:hover {
	color: #d21416;
	background: transparent;
}

.team-input {
    background: transparent;
    border: none;
}
.team-input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.fa-btn {
    cursor: pointer;
}

a{
    cursor: pointer;
}

.add-new-user .main-team-area form span {
    position: absolute;
}

#toggle-btn::after{
    font-family: 'FontAwesome';  
    content: "\f078"; /* fa-chevron-down */
    position: absolute;
    top: 12px;
    right: 10px; 
}



@media (max-width: 1011px){
    .container {
        max-width: 95%;
    }
    select.team-select{
        padding: 3px 16px;
    }
    select.status-select{
        padding: 3px 16px;
    }

    a.overview-flor-btn{
        display: block;
        padding: 3px 9px;
    }
}

@media (min-width: 992px) and (max-width: 1024px){
.container {
    max-width: 96%;
}
}

.tap-check {
    background: #56962c;
    padding: 1px 4px;
    display: inline-block;
}

.tap-times {
    background: #a51214;
    padding: 1px 4px;
    display: inline-block;
}

.main-tap-overview span i {
    font-weight: 500;
    font-size: 28px;
}

.cursor-pointer {
    cursor: pointer;
}

.settings-table tr td span {
    position: relative;
    left: -26px;
}

.team-add-form span {
    position: relative;
    left: -13px;
    top: -15px;
}

.add-user-form .form-group {
    margin-bottom: 1.7rem;
}

.team-name-box span:not(".shortcode-box"){
    position: relative;
    top: -22px;
}
